.singleCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.20);
    padding: 40px;
    text-align: center;
    gap: 30px;
    max-width: 400px;
}

.number {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}

.text {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
}

.info{
    box-shadow: 0px 0px 10px 1px rgba(144, 144, 144, 0.2);
    width: 100%;
}

select{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #CCC;
    padding: 0 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
}

select:focus{
    outline: none;
}